
<script id="markdown" type="text/plain">
# Cash Wu

## ![cashwu](images/cashwu.png)

一個半路出家不誤正業的 `程式猿`，主要專長是 `ASP.NET MVC` 網站開發

`Android`、`javascript` ( `jQuery`、`angularJS` )、`SQL` 都略懂一些

使用 `Scrum` 作為軟體開發，並長時間擔任 `Scrum Master` 負責專案

目前任職於 `多奇數位創意有限公司 台中分會`

未來將朝著 `全端` 邁進

可以在下面的地方找到我：

- [Google +](https://plus.google.com/+CashWuGeek/posts)
- [Facebook](https://www.facebook.com/Cash.Wu.0)
- [Twitter](https://twitter.com/CashWuGeek)
- [LinkedIn](http://www.linkedin.com/profile/view?id=336535061)
- [Github](https://github.com/cashwu)
</script>

<div id="content" class="content"></div>
