
<div id="content" class="content archives" ng-controller="ArchivesController">

    <div id="search">
        <label>
            Search:
            <input type="text" ng-model="search">
        </label>
    </div>

    <h1>Blog Archives</h1>


    <div ng-repeat="archive in archives | filter:search" class="arch">
        <h2 ng-if="archive.year != ''">{{ archive.year }}</h2>
        <h3 ng-if="archive.year == ''">
            {{ archive.date }} <a ng-href="{{ archive.url }}" target="_blank">{{ archive.title }}</a>
        </h3>
        <p ng-if="archive.subtitle != ''">
            {{ archive.subtitle }}
        </p>
    </div>

</div>