
body {
    background: #212121;
    width: 940px;
    margin: 0 auto;
    font-family: 'Lora', serif;
}

header {
    background: #212121;
    height: 120px;
    width: 940px;
    padding-top: 30px;
    font-family: 'Wendy One', sans-serif;
}

    header .logo{
        float: left;
        max-height: 50px;
        max-width: 50px;
        padding: 5px;
        margin: 10px 20px 0 30px;
        border: 1px solid #ebebeb;
        -webkit-box-shadow: 0 0 5px #ebebeb;
        -moz-box-shadow: 0 0 5px #ebebeb ;
        box-shadow: 0 0 5px #ebebeb ;
        letter-spacing: -1px;
    }

    header #title {
        color: #fff;
        margin: 0;
        font-size: 42px;
        font-weight: 700;
    }

    header #tagline {
        float: left;
        color: #fff;
        margin: 5px 0 0 10px;
        font-size: 24px;
    }

nav, footer {
    clear: both;
    background: #323232;
    width: 940px;
}

    nav {
        height: 40px;
    }

    nav ul {
        margin: 0;
        padding: 10px 0 5px 30px;
    }

    nav li {
        float: left;
        display: inline;
        margin-right: 40px;
    }

        nav li a {
            font-size: 20px;
            line-height: 20px;
            color: #f2f2f2;
            text-decoration: none;
            cursor: auto;
        }

        nav li a:hover {
            color: #fe4902;
        }

#section {
    background: #f2f2f2;
    line-height: 1.5em;
    min-height: 450px;
}

    #section #gearContent {
        padding: 180px 20px;
        text-align: center;
        min-height: 450px;
    }

    #gearContent .gears {
        margin-right: 10px;
    }

    #gearContent h1 {
        font-size: 36px;
        font-weight: 700;
    }

    #section .comment {
        margin: 0 20px;
        padding: 30px 0;
    }

        #section .comment h1 {

        }

footer {
    color: #999;
    text-align: center;
    font-size: 10px;
    padding: 20px 0;
    margin: 0 auto;
}

    footer #cc {
        border-width: 0;
    }

    footer a {
        text-decoration: none;
        color: #f2f2f2;
    }

    footer a:hover {
        color: #fe4902;
    }

    footer p {
        margin: 10px 0;
    }

    footer .label{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        padding: 2px 4px;
        font-size: 11px;
        line-height: 14px;
        color: #ffffff;
        vertical-align: baseline;
        white-space: nowrap;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #999999;
    }

    footer .share-buttons{
        list-style: none;
    }

    footer .share-buttons li{
        display: inline;
    }